[2015-06-09 16:39] stripathy opened #1 "dealing with explicitly negated statements, PV-immunonegative"

[2015-06-09 16:40] renaud opened #2 "double bouquet"
searching for `double bouquet`

[code]

[2015-06-09 16:41] renaud opened #3 "Layer as part of Brain Region"

[2015-06-09 16:42] renaud opened #4 "have other people check our obo ontologies"

[2015-06-09 16:42] renaud commented on #4
- neurotransmitters --> Martin
- electrophys --> Christian

[2015-06-09 16:43] renaud opened #5 "gad | GAD | GAD2 should work. Too short??"

[2015-06-09 16:43] renaud opened #6 "basic aggregation: fast-spiking, fast spiking, ..."

[2015-06-09 16:43] renaud opened #7 "evaluate scope / recall: somatostatin 414 hits on ft vs 30k on PubMed (somatostatin) and 4k (somatostatin+neuron)"

[2015-06-09 17:06] stripathy opened #8 "implement a gene name tagger and normalizer"
ideally we'd implement GNAT, BANNER, etc.

[2015-06-09 17:51] stripathy opened #9 "abbreviation expansion is not always useful or helpful"
GABA is fine as is, but it's not helpful to expand it to whatever the author claims it stands for.

[2015-06-16 15:37] stripathy opened #10 "ensure that term isn't in different resource lists"
I noticed that some of the species terms are common abbreviations for proteins or brain regions (e.g., PV is a species and an abbreviation for parvalbumin). Same with species CP and brain region Caudoputamen.

Ideally there'd be a pre-processing step where we compare terms across lists and can choose which term is the "right" one given our project.

[2015-06-16 16:28] stripathy opened #11 "Issue with identifying protein-triggers"
Why is parvalbumin, calbindin and calretinin not recognized as part of the neuroNER below in the last part of the sentence (see image)? I think it has to do with the updating of the protein-trigger.

![screen shot 2015-06-16 at 9 26 05 am](https://cloud.githubusercontent.com/assets/2458713/8188326/0cdd2a00-140a-11e5-8de3-4eba6984e1e6.png)

Sentence: In doing so, we find that the vast majority (87%

[2015-06-18 17:47] stripathy commented on #11
In other words, don't require that the protein trigger be activated before identifying the protein.

Parvalbumin-expressing neurons // works currently
parvalbumin neuron // doesn't work currently

neuron expressing parvalbumin // marks, but doesn't get ontology ID currently
// [NeuronTrigger] [ProteinTrigger] [ProteinProp]

[2015-06-19 01:08] stripathy opened #12 "positional information"
where do terms like "deep", "superficial" etc go?

[2015-06-19 17:19] stripathy opened #13 "incorporate morphology ontology"
I put together a hbp_morphology_ontology.obo file in the Dropbox. My sense is that there isn't too much advantage to using the ontology for morpholgy because terms don't have that many synonyms.

[2015-06-25 00:14] stripathy commented on #11
In addition to this case listed above:
parvalbumin neuron // doesn't work currently
//[ProteinProp] [NeuronTrigger]

We also need to support the following case:
parvalbumin basket cell
//[ProteinProp][NeuronProp][NeuronTrigger]

[2015-06-25 07:38] renaud commented on #9
Could you come up with an exaustive list of abrevs that do not need to be expanded? If so, I could "whitelist" them.
Note to self: the relavant code is [here](https://github.com/BlueBrain/bluima/blob/fcb661f959698c5d5f07e0bd1e3b8448ccef0093/modules/bluima_abbreviations/src/main/java/ch/epfl/bbp/uima/AbbreviationExpander.java).

[2015-06-25 16:54] stripathy opened #14 "how does sherlok find resources?"
I edited the species.csv file, to remove PV as a species: 81a704809b192521bd11dd43a909bd681235bd91

But PV is still recognized as a species in the new Sherlok release. Why is this?

![screenshot from 2015-06-25 09 57 11](https://cloud.githubusercontent.com/assets/2458713/8360285/b176c298-1b20-11e5-8a54-fd5aeb3f9f7d.png)

[2015-06-25 17:09] stripathy commented on #9
Yes - I can do this, but it'll take some time. We should prioritize this in our next meeting.

[2015-06-25 19:01] renaud commented on #14
if you edit remote resources, you need to reload the local ones with

[code]

(see https://github.com/sherlok/sherlok/wiki/Developing-a-text-mining-system-with-Sherlok#development-cycle)

does it work for you?

[2015-06-25 19:20] renaud opened #15 "filter out unnecessary annotations, keep largest only"
e.g.

neuron expressing parvalbumin -->

    "ProteinProp": [
        {
          "begin": 7,
          "end": 29,
          "properties": {
            "ontologyId": "parvalbumin"
          }
        },
        {
          "begin": 7,
          "end": 29
        },
        {
          "begin": 18,
          "end": 29,
          "properties": {
            "ontologyId": "parvalbumin"
          }

[2015-06-25 19:26] renaud commented on #11
Should be fixed with [0d72d1f455](https://github.com/sherlok/sherlok/commit/0d72d1f4555bf7f9a5565ac8618c79004e37c171). Works for the following cases, see the tests
- parvalbumin basket cell
- Parvalbumin-expressing neurons
- neuron expressing parvalbumin

[2015-06-25 19:26] #11 closed

[2015-06-25 20:22] #13 closed

[2015-06-25 21:35] stripathy opened #16 "add cre and Cre to protein triggers"
use cases:
PV-cre mouse
Ntsr1-Cre expressing cells

[2015-06-25 23:00] stripathy opened #17 "Difficult example of listed elements with trigger words which come at end of list"
Example where someone uses [protein], [protein], [protein] [protein trigger] [neuron trigger]

![screenshot from 2015-06-25 15 56 09](https://cloud.githubusercontent.com/assets/2458713/8367448/0f2097de-1b53-11e5-87c0-d4547f8930d8.png)

The full sentence:
Immunoreactivity was present in calretinin-, neuronal nitric oxide synthase-, and reelin-expressing cells, as well as in subsets of cholecystokin

[2015-06-25 23:01] stripathy commented on #17
We discussed this earlier - the only way to do this would be with sentence level parsing...

[2015-06-26 00:19] stripathy opened #18 "add greek unicode symbols for protein synonysm"
this gist will help do this: https://gist.github.com/piquadrat/765262

[2015-06-26 06:10] renaud opened #19 "Proposal for identifying ephys terms"
### Define the following as an electrophysiology trigger:

    DECLARE EphysTrigger;
    "(?i)((non[- ]?)?(spik(ing|e)|firing|bursting|stuttering|chattering|accomm?odating|adapting)” ->   EphysTrigger;

    DECLARE NeuronProperty EphysProp;

After defining the Ephys Trigger term, we need to find **EphysProp terms which come before or after the trigger word**, like those in the modifying terms list

[2015-06-26 06:12] renaud commented on #19
- I did split the Ephys obo files in two, please validate them (in `neuroNER/resources/bluima/neuroner/`)
  - `hbp_electrophysiology_ontology.robo`
  - `hbp_electrophysiology-triggers_ontology.robo`
- In them, I reordered the ids. **Please confirm that this is not a problem for you.** Else I will roll it back. In the future, we should avoid reordering ids...
- I wrote some rules to capture them
-

[2015-06-26 06:54] #14 closed

[2015-06-26 13:17] renaud commented on #16
PV-cre mouse: no trigger, so that will be recognized as

[code]

[2015-06-26 13:17] #16 closed

[2015-07-02 01:13] stripathy opened #20 "combining EphysProp and EpyhsTrigger"
EphysProps and EphysTriggers should be combined into a neuroNER if they are conjoined by a hyphen:
fast-spiking cell // fast not part of neuroNER, but identified as EphysProp
non-fast-spiking cell // non-fast not part of neuroNER, but identified as EphysProp
spiking cell //

See example below:

![screenshot from 2015-07-01 18 07 46](https://cloud.githubusercontent.com/assets/2458713/8468123/ca220a

[2015-07-07 16:22] #18 closed

[2015-07-07 16:23] stripathy commented on #6
Ontology support mostly addresses this.

[2015-07-07 16:23] #6 closed

[2015-07-07 16:24] stripathy opened #21 "Remove synonyms from protein list which are too common"
Examples:
not
per
large

[2015-07-13 00:04] stripathy opened #22 "check that layers and capitalization is correct"
I think I saw that Layer 5A was not being found but Layer 5a was found. Same for Layer 5 B.

Similarly with Layer V A or Layer VIa, etc.

[2015-07-29 23:02] renaud commented on #22
ok, will look into this. if i recall correctly,  words shorter than 4 letter are case sensitive, while longer words are not
(the number can be configured...)

[2015-07-29 23:04] renaud commented on #22
a quick fix is to add the corresponding cases to the OBO file
or better: turn hbp_layer_ontology.obo into a robo file and add the case variants as regular expressions

this obo term

[code]

would become like this with robo

[code]

[2015-07-29 23:12] renaud commented on #22
so here's one proposal:
1. copy hbp_layer_ontology.obo to hbp_layer_ontology.robo
2. edit it to express layers with regular expression
3. edit your neuroner.json file from Sherlok to use that new robo file (it should be as simple as adding an `r` character
4. refresh Sherlok server accordingly

works for you?

[2015-07-29 23:29] stripathy opened #23 "weird capitalization effects for neuroNER tagging"
in the following term: 'thick tufted pyramidal cell', 'thick tufted' is identified,
but for the query 'Thick Tufted Pyramidal cell', 'thick tufted' is NOT identified.

Seems to be a somewhat general effect.

[code]

[2015-07-29 23:35] stripathy commented on #23
Another example

[code]

[code]

[2015-07-30 16:45] stripathy opened #24 "weird capitalization effects for neuroNER tagging"
in the following term: 'thick tufted pyramidal cell', 'thick tufted' is identified,
but for the query 'Thick Tufted Pyramidal cell', 'thick tufted' is NOT identified.

Seems to be a somewhat general effect.

[code]

(0, 12, 'thick tufted', u'Morphology', {u'ontologyId': u'HBP_MORPHOLOGY:0000014'})
(6, 12, 'tufted', u'Morphology', {u'ontologyId': u'HBP_MORPHOLOGY:0000031'})
(13, 22, 'pyramidal', u'

[2015-07-30 16:45] #24 closed

[2015-07-30 17:17] stripathy opened #25 "visualization idea for neuroNER neuron relationships"
Here's an idea for comparing BBP to neurolex neuron types: represent the relationships and ontology instances heirarchically.

![img_20150730_094408](https://cloud.githubusercontent.com/assets/2458713/8989869/af820472-36a3-11e5-82de-747cc93f5991.jpg)

I'm not sure how to actually implement this (maybe something like a trie?), but i think it's a good way of visalizing. If we liked this, we could ad

[2015-07-30 19:52] stripathy opened #26 "Check new .obo ontologies against existing terms, like neuroLEX"
we need to check that we're not making new ontology terms for entities which already exist in an ontology, like basket cell morphology in NIF: http://neurolex.org/wiki/Category:Basket_Cell_Morphology

Figuring this out is something Catherine, Maryann can help with. I am very against making new ontology terms in a new namespace (HBP_XXX) unless we absolutely have to.

And ideally, we'll be adding t

[2015-07-30 19:53] renaud commented on #25
Not sure i understand it all but I very much like the idea.

Renaud Richardet  +41 78 675 9501
[sent from my phone therefore short]

[2015-07-30 19:54] renaud commented on #26
Totally agree

Renaud Richardet  +41 78 675 9501
[sent from my phone therefore short]

[2015-07-31 20:46] stripathy opened #27 "comparing neurolex to bbp and quantifying complete and partial overlap"
1. come up with two examples, something like a bipartite graph illustrating correspondence between neurolex and BBP, choose examples well.

2. statistics: how many terms in bbp exactly match a neurolex term, match but missing a term (like nest), etc.

3. literature comparison:
neocortex nest basket cell : term frequency
nest basket cell
basket cell
nest cell
neocortex basket cell
...

[2015-08-02 21:28] renaud commented on #23
Sorry I can't reproduce. I get the same output whatever the capitalization.

[code]

Could you do:

[code]

I have `sherlok==0.1.4`

[2015-08-02 22:20] stripathy opened #28 "write more tests for neuroNER based on application to BBP/NeuroLEX cell types"
for example, the test below should be modified to contain the ncbi gene identifier for parvalbumin:
[code]

[2015-08-02 22:41] stripathy opened #29 "possible duplicate terms for layer unions"
are these two not equivalent? I think that they are.

from here: https://github.com/renaud/neuroNER/blob/master/resources/bluima/neuroner/hbp_layer_ontology.obo

[Term]
id: HBP_LAYER:0000141
name: layer 5-6
synonym: "layer V-VI"  EXACT ALTERNATE_SPELLING []
synonym: "layer VI-V"  EXACT ALTERNATE_SPELLING [] ! unlikely
synonym: "layer 6-5"   EXACT ALTERNATE_SPELLING [] ! unlikely
synonym: "layers 5

[2015-08-02 23:06] renaud commented on #29
agreed, my bad

[2015-08-02 23:11] renaud opened #30 "layer 3/4 not correctly identified"
http://localhost:9600/annotate/neuroner?text=layer%201/2
    http://localhost:9600/annotate/neuroner?text=layer%202/3

correctly identify `layer 1/2` and `layer 2/3`, but

    http://localhost:9600/annotate/neuroner?text=layer%203/4

does not. weird...

[2015-08-02 23:13] renaud commented on #30
layer 5-6 does not work, as well

[2015-08-02 23:14] renaud commented on #23
fixed with new release https://github.com/sherlok/sherlok/releases/tag/0.1.5

[2015-08-02 23:14] #23 closed

[2015-08-02 23:23] stripathy commented on #29
fixed in ebe03fe8c0b7e384cf9837bf86d772cca14acc20

[2015-08-02 23:23] #29 closed

[2015-08-03 03:07] stripathy commented on #27
Schematic of correspondence between neurolex and BBP (A and B). C is an example showing that even BBP cell types are insufficient to fully describe some of the things in the literature, illustrating the need for a compositional feature approach.

![normalization_schematic_v2](https://cloud.githubusercontent.com/assets/2458713/9030031/830a83b4-3951-11e5-94e2-ac771c0ee3af.png)

Below is a histogram

[2015-08-03 07:59] renaud commented on #27
Excellent, thanks a lot!

Yes, I will do the literature comparison if you don't have time.

[2015-08-03 07:59] #27 closed

[2015-08-03 19:38] stripathy opened #31 "more effort to normalize brain regions"
Use Leon French's codebase to help with this

pointers here from @leonfrench:

Using text mining to link journal articles to neuroanatomical databases.
http://www.ncbi.nlm.nih.gov/pubmed/22120205

Here's the supplement:
http://www.chibi.ubc.ca/faculty/paul-pavlidis/pavlidis-lab/data-and-supplementary-information/text-mining-of-journal-of-comparative-neurology/

It was all based in RDF for storing

[2015-08-09 21:22] stripathy opened #32 "consider approaches for improving neuroNER recall"
These sentences contained in total 253 neuron properties, of which 207 could be recognized by neuroNER resulting in a 0.82 recall. Only 3 properties were incorrectly extracted, resulting in a 0.98 precision.

Here's some ideas:

1. consider all terms within the same sentence phrase of a neuron trigger (i.e., cortical cells recorded in layer 2/3) as part of a neuron mention, even if there isn't an

[2015-08-11 19:58] stripathy commented on #28
@renaud to what file in the repo should I add these tests?

[2015-08-14 07:26] renaud opened #33 "disambiguate multiple matches for properties"
This gene is colliding with the size `large`, e.g. in _layer V and layer iii large pyramidal neurons_:

    [Term]
    id: NCBI_GENE:16795
    name: Large
    synonym: "myd" RELATED ADJECTIVE []
    synonym: "Large" RELATED ADJECTIVE []
    ....

One way to deal with it is to disambiguate two properties that have been matched and only keep the most appropriate.

For now, could we just remove `Larg

[2015-08-14 07:32] #33 closed

[2015-08-16 04:32] stripathy opened #34 "issue with identifying protein names"
Given the following .obo for a protein:
[code]

The query: ```'Grin2a-expressing neuron'``` does not have a ProteinProp:
```[(18, 24, 'neuron', u'Neuron', {}), (18, 24, 'neuron', u'NeuronTrigger', {}), (7, 17, 'expressing', u'ProteinTrigger', {})]```

but ```'NMDAR2A-expressing neuron'``` has a ProteinProp:
```[(0, 25, 'NMDAR2A-expressing neuron', u'Neuron', {}), (19, 25, 'neuron', u'Neuron', {}),

[2015-08-16 18:32] renaud commented on #34
I'm on it, I think I found an issue in Ruta and fixed it yesterday

[2015-08-17 20:25] #19 closed

[2015-08-17 20:41] renaud opened #35 "more permissive about missing terms that doesn't terminate the neuroNER prematurely"
From Shreejoy:

_You can see a whole list of terms that I tried below (Based on hand-curated neuron-NER-compliant terms that I had my ugrad curator Brenna annotate based on neuroelectro articles, terms here: https://www.dropbox.com/s/npzmdfuvqpo144q/neuroelectro_neuron_long_names.txt?dl=0) . The biggest thing is that the missing terms are very often brain region terms that are being not identified

[2015-08-20 22:56] stripathy commented on #31
proposal: add flat lists of region terms back

[2015-08-20 22:56] stripathy commented on #31
wait for leon to provide ontology mappings for these terms in flat lists
if recall is still not good, then we can use machine learning models

[2015-08-20 23:05] stripathy commented on #20
make these as tests and then close issue

[2015-08-20 23:06] stripathy commented on #17
related to #35

[2015-08-20 23:08] #7 closed

[2015-08-20 23:11] stripathy commented on #2
make this issue a test and then close

[2015-08-20 23:18] stripathy opened #36 "capitalization rules and matching as configuration"

[2015-08-27 17:51] #21 closed

[2015-08-27 18:07] stripathy commented on #20
Here's a test for 'fast-spiking basket cell'

[code]

[2015-08-27 18:32] stripathy commented on #2
'double bouquet cells' is annotated as expected. Here is the test:

[code]

[2015-08-27 18:32] #2 closed

[2015-08-27 18:40] #30 closed

[2015-08-27 18:50] #22 closed

[2015-08-27 18:57] renaud commented on #20
The test will be as below, it's the same as your json:

[code]

[2015-08-27 18:59] #20 closed

[2015-08-27 19:01] renaud commented on #28
There is already a test, same as your json:

[code]

[2015-08-27 19:01] #28 closed

[2015-08-27 19:23] renaud commented on #17
It mostly works, except the individual proteins:

[code]

[2015-08-27 19:53] renaud commented on #34
i created a test with `Grin2a-expressing neuron space NMDAR2A-expressing neuron space GluN2A-expressing neuron`

[code]

[2015-08-27 19:54] #34 closed

[2015-08-27 19:58] #15 closed

[2015-08-27 22:32] stripathy commented on #36
proteins - capitization should only matter for terms of 3 characters or less.

[2015-08-27 22:32] stripathy commented on #5
@stripathy will add tests.

[2015-08-27 22:48] #5 closed

[2015-08-27 22:58] renaud commented on #5
I added a test already...

[2015-08-31 17:48] stripathy opened #37 "Capture GFP's use as a protein trigger"
{Protein}-GFP is a common way of indicating that a cell expresses a protein, just like {Protein}-Cre.

I propose adding it to the Protein Triggers list.

e.g.

or.

To implement this, I think all you need to do is the following:
change line 70 of the .ruta file
[code]

to:
[code]

it's [GYR]FP since YFP and RFP are common variants of GFP.

[2015-08-31 17:53] stripathy opened #38 "Encode the various ways of encoding a hyphen sign"
I noticed that the following is matched in neuroNER:

but not

Note the difference in hyphen signs (they're actually different unicode characters).

In NeuroElectro, I replace weird unicode hyphens with a normal '-' sign.
[code]

[2015-09-02 18:35] stripathy opened #39 "why is layer not being found here?"
Whole-cell voltage recordings were obtained from 64 synaptically coupled excitatory layer 4 spiny neurones and L2/3 pyramidal cells in acute slices of the somatosensory cortex ('barrel' cortex) of 17- to 23-days-old rats.

[2015-09-02 18:36] stripathy commented on #39
L4 not found here!

[2015-09-03 16:54] leonfrench commented on #31
Sorry for the delay. It took awhile to get my code up and running but I managed to roughly extend PrintAndResolveBrainRegions.

I mentioned to Shreejoy that I have extended Allen Mouse brain reference atlas (ABA) to include synonyms in the past but looking at my files, I think I misspoke. It seems I only extended the BAMS lexicon/ontology. What I did was map the ABA terms to the NIFSTD terms then

[2015-12-03 19:44] stripathy opened #41 "return ABA major brain region along with found sub regions"
e.g., also return major region Isocortex below
Barrel Cortex Layer IV Fast-Spiking Interneuron
[0, 13, 'Barrel Cortex', u'ABA_REGION:329']
[14, 22, 'Layer IV', u'HBP_LAYER:0000004']
[14, 22, 'Layer IV', u'UNKN_REGION:4078']
[23, 27, 'Fast', u'Missing']
[23, 27, 'Fast', u'Missing']
[28, 35, 'Spiking', u'HBP_EPHYS_TRIGGER:0000003']
[36, 47, 'Interneuron', u'NeuronTrigger']

[2015-12-03 19:45] stripathy opened #42 "traverse layer ontology and return major parts along with subparts"
e.g., we need to indicate that layer 5a is a child of layer 5 is a child of layer 5-6

Layer 5a somatosensory barrel cortex pyramidal neurons
[0, 8, 'Layer 5a', u'HBP_LAYER:0000050']
[9, 22, 'somatosensory', u'Function']
[23, 36, 'barrel cortex', u'ABA_REGION:329']
[37, 46, 'pyramidal', u'HBP_MORPHOLOGY:0000001']
[47, 54, 'neurons', u'NeuronTrigger']

[2015-12-03 19:47] stripathy opened #43 "consider giving short names to ontology terms, then cause use normalization for term shortening"
e.g., Layer 2 somatosensory barrel cortex pyramidal neurons
could be summarized as L2 SSC Pyr

given ontology terms found below
[0, 7, 'Layer 2', u'HBP_LAYER:0000002']
[8, 21, 'somatosensory', u'Function']
[22, 35, 'barrel cortex', u'ABA_REGION:329']
[36, 45, 'pyramidal', u'HBP_MORPHOLOGY:0000001']
[46, 53, 'neurons', u'NeuronTrigger']

[2015-12-03 20:00] stripathy opened #44 "only keep a single ontology term corresponding to the same span of text"
e.g.
Lateral hypothalamus GAD65-GFP low-threshold spiking neurons
[0, 7, 'Lateral', u'UNKN_REGION:15']
[8, 20, 'hypothalamus', u'UNKN_REGION:5443']
[8, 20, 'hypothalamus', u'ABA_REGION:1097']
[21, 27, 'GAD65-', u'NCBI_GENE:14417']
[27, 30, 'GFP', u'Missing']
[31, 44, 'low-threshold', u'HBP_EPHYS:0000110']
[45, 52, 'spiking', u'HBP_EPHYS_TRIGGER:0000003']
[53, 60, 'neurons', u'NeuronTrigger']

and

[2015-12-03 21:54] renaud commented on #44
1. keep larges annotation first
2. then hierarchies
   1. Layers
   2. ABA regions
   3. unknown regions

one cheap solution is also to eliminate duplicate in the lexical resources (e.g. `layer V`)

all these can be dealt in neuroNER python code

[2015-12-25 19:21] stripathy opened #45 "resolve discrepancy between Isocortex, and cerebral cortex in ABA ontology"
the issue is that when most people say "cerebral cortex", they mean "neocortex"
[Term]
id: ABA_REGION:688
name: Cerebral cortex
synonym: "Cortex cerebralis" []
synonym: "cerebral cortex" []
synonym: "pallium" []
synonym: "Cerebral cortex" []
synonym: "Cortex cerebri" []
synonym: "cortex" [] ! curator=RR
synonym: "cortical" [] ! curator=RR
! in terms of text-mining, and what authors mean
! these re

[2015-12-27 03:46] stripathy opened #46 "update similarity rules for layers to better capture is_a relationships"
In the following example:
if "L5a" is the query, which should be the returned order?
(highest match to lowest match)
L5a, L5b, L5, L5-6, L2-3
or
L5a, L5, L5-6, L5b, L2-3

[2015-12-30 17:15] stripathy commented on #36
By default, capitalization should only matter for terms of 3 characters or less for all terms across all ontologies.

[2016-01-03 22:53] #44 closed

[2016-01-03 22:54] #46 closed

[2016-01-03 22:54] #43 closed

[2016-01-03 22:54] #42 closed

[2016-01-03 22:55] #39 closed

[2016-01-03 22:55] #41 closed

[2016-01-19 09:21] renaud opened #47 "NBC wrongly recognized as protein"
http://localhost:9600/annotate/neuroner?text=NBC

    ProteinProp: [
        {
            begin: 0,
            end: 3,
            ontologyId: "NCBI_GENE:54403"
        }
    ]

[2016-01-19 10:59] #36 closed

[2016-02-02 21:34] cmungall opened #48 "Leverage the work done in OBO community to build interoperable ontologies"
Apologies if I am misconstruing something here, but it seems there is a lot of effort going on here to duplicate ontologies that exist in the OBO library -- ontologies that are widely in use for major OMICs projects like ENCODE, FANTOM5 and LINCS, as well as projects like Virtual Fly Brain.

Specifically, for cell types, the OBO Cell ontology (http://obofoundry.org/ontology/cl.html) has many neuro

[2016-02-02 21:41] mellybelly commented on #48
I would concur on the offer of assistance. I also would like to point out that the practices that Chris describes also ensure proper attribution and provenance for the contributions - based on many lessons learned over the years. Much of the windy path amongst Fbbt, NF-cell, neuron registry, Neurolex, and neuroNR means that the person who originally contributed the content and its original context

[2016-02-02 22:43] renaud commented on #48
Thanks @cmungall and @mellybelly for your inputs.

To be honest, @stripathy and myself thought quite a bit about how to best structure our ontological resources. Still, we are not really satisfied and would welcome some help.

What pragmatic approach would you recommend here?

Background: we plan to integrate the neuroNER resources with the upcoming new version of neuroLEX. (therefore, adding @cat

[2016-02-02 23:01] fbastian commented on #48
Hi @renaud, would you be interested in meeting directly in Lausanne? (I work at UNIL, and often collaborate with @cmungall and @mellybelly)
That would be really great to have you on board.

[2016-02-02 23:09] tgbugs commented on #48
Hi. Wanted to quickly address some points you made @cmungall. @renaud correct me if I say anything out of line. My plan is more or less as follows, any input would be welcomed.
1) we want to move away from obo to ttl
2) wherever these entities ultimately live we need a way to handle multiple (order of 10s) property based classifications (ephys, morphology, gene expression, etc), we will reuse exis

[2016-02-02 23:44] cmungall commented on #48
@tgbugs -
1. (sorry if I'm getting into the weeds a little) - is this owl layered over ttl? I'm thinking specifically about more complex axioms, some of which are tempting to code as direct ttl edges, but ultimately buys you less than a more complex encoding. and do you intend to hand edit the ttl, use Protege or topbraid or... there are
2. absolutely! we're all about multiple axes of classificati

[2016-02-02 23:50] cmungall commented on #48
@fbastian is indeed local, and can answer all your questions on Uberon and the wider OBO space

[2016-02-03 00:08] tgbugs commented on #48
@cmungall
1. owl serialized to ttl if that answers your question, edited by hand or using protege but serialized deterministically using owlapi 4.0+ (see my crappy code [here](https://github.com/tgbugs/ttl-convert/blob/master/src/main/java/scicrunch/App.java))
4. direct reuse of identifiers where even remotely possible for the reasons you give and because it makes attribution and prov much easier

[2016-02-04 21:25] #47 closed

[2016-02-04 21:46] stripathy opened #50 "improve synonyms for brain regions"
i.e. add to or edit https://github.com/renaud/neuroNER/blob/master/resources/bluima/neuroner/hbp_brainregions_aba-syn.obo

[2016-02-04 22:22] stripathy opened #51 "benchmark neuroNER coverage against competitor ontologies"
The advantages of neuroNER are that it allows finer granularity for describing neuron instances than currently provided by neuroLEX, Cell Ontology, etc (from my experience curating against the literature for NeuroElectro).

We need to make a set of figures clearly illustrating this.

[2016-02-04 22:31] stripathy commented on #51
Plan - take the 1K neuroelectro hand curated spans of neuron mentions and run through various ontologies - in how many cases were the instances perfectly matched?

[2016-02-05 01:29] stripathy commented on #51
A more unbiased way to do this would be to use curated neuron names from some other resource, like neuromorpho

[2016-02-05 17:51] stripathy commented on #48
Thanks for the comments, and especially the offer to provide help and ontology expertise, @cmungall and @mellybelly!

@renaud and I just had a long skype call today discussing the issues you raised and we're putting together a specification document to define the scope of what we're doing. Part of this will include a benchmark dataset of hand-curated spans corresponding to different neuron types :

[2016-02-05 18:29] stripathy opened #52 "consider using neuroelectro to serve neuroNER queries"
@renaud do you mind if I deploy neuroNER on dev.neuroelectro.org and allow logged-in users to input queries and have the results be processed and normalized by neuroNER? I have an immediate use-case for my neuroelectro curators to use this feature, but it may also be helpful for demonstrating neuroNER functionality to other parties.

[2016-02-05 18:54] dosumis commented on #48
Chris wrote:

Happy to discuss if you're interested.

[2016-02-07 20:25] renaud commented on #52
Sure!

Renaud Richardet  +41 78 675 9501
[sent from my phone therefore short]

[2016-02-09 20:13] stripathy opened #53 "create an alpha release of neuroNER and put on pip"

[2016-02-09 20:20] stripathy commented on #52
I want to be able to use the similarity functions within my neuroelectro repo - the easiest way to do this is to make an alpha release for neuroNER and put it on pip so I can import it. See this issue: https://github.com/renaud/neuroNER/issues/53

[2016-02-09 23:01] renaud commented on #53
could you take this over, as I don't have a need to create neuroNER releases (sorry)

[2016-02-10 17:58] stripathy commented on #48
Hello all,

I wrote up a short response to a lot of the issues discussed above. Your comments and feedback are appreciated.

I noticed there were two issues discussed above:
1. Defining the goal and scope of mine and @renaud's project, to represent neuron types mentioned from the literature at a very fine grain resolution
2. Re-use and potential duplication of existing of ontologies

**Project Goa

[2016-02-10 22:56] stripathy opened #54 "migrate to UBERON for brain regions and synonyms"
we can get them here:
http://www.ebi.ac.uk/ols/beta/ontologies/uberon

[2016-02-11 06:15] tgbugs commented on #54
In process on this already. Building a mapping to uberon against existing identifiers and will generate a bridge file with the additional synonyms. This doesn't entirely resolve the issues around reconciling the allen brain parcellation scheme and importing/creating a set of 'partially overlaps with' relations to the uberon terms. We have uberon loaded on our scigraph instances (e.g. http://matrix

[2016-02-11 21:45] renaud opened #55 "lower number of UNKN brain regions"
create stats (counts) of UNKN from last scaleout, then integrate it in the ABA brain ontology

[2016-02-15 18:40] stripathy commented on #54
@cmungall and @mellybelly, can you advise on the best way to add/recommend synonyms in batch to multiple terms for UBERON?

Context: @tgbugs has very nicely put together a text file that compares the synonyms for region terms contained in UBERON against the hand-generated list of synonyms that @renaud and I put together (https://github.com/renaud/neuroNER/blob/master/ontology_merge/aba_uberon_syn_

[2016-02-15 18:48] mellybelly commented on #48
Sorry its taking me a while to reply, more to come. lets schedule a call.

First, I don't see where any of your requirements are not representable using standard OWL classification strategies. Thats good - it means you can easily adopt existing best practices to get done what you need to do. And, most of what you need already exists.

For example:

=> This is standard based OWL classification and

[2016-02-15 18:50] mellybelly commented on #48
p.s. its fine to add 1K terms, as long as the logic is quality ;-)

[2016-02-15 18:51] mellybelly commented on #54
are you using the synonym types?
Optic is not likely to be an exact synonym of anything, and you can likely ignore non-exact types.
see: https://github.com/obophenotype/uberon/wiki/Using-uberon-for-text-mining

On Feb 15, 2016, at 10:40 AM, Shreejoy Tripathy <notifications@github.com<mailto:notifications@github.com>> wrote:

@cmungallhttps://github.com/cmungall and @mellybellyhttps://github.com/me

[2016-02-15 19:00] cmungall commented on #54
Note we already have mappings to ABA. The mappings to the original (adult mouse) ABA can be found as cross-references using the prefix ABA. When Allen expanded to include others atlases, we created new mappings with new prefixes to better reflect the content:
- MBA - adult mouse brain
- DMBA - developmental mouse brain
- HBA - adult human brain
- DHBA - developmental human brain
- PBA - (non-human

[2016-02-15 19:02] tgbugs commented on #54
@mellybelly I pulled everything that we map to synonym in our scigraph instance, so there will be broad synonyms in there as well. @stripathy I can get you a version with more accurate mappings if needs be.

@cmungall Thanks, I'll take a look under ABA in xrefs, didn't see them when I took a quick look.

[2016-02-15 19:04] cmungall commented on #54
I would strongly recommend using synonym scopes. In general we are quite liberal with non-exact synonyms, but very careful with EXACT. See the doc @mellybelly references

Correct, we currently have "optic" as a related synonym, with provenance to TAO:0000435 (which itself got it from ZFA). We're open to removing some of these, but our preferred strategy is to add metadata that weakens the synonym,

[2016-02-15 19:06] stripathy commented on #54
Yes please. It'd be helpful to know which UBERON synonys are exact, broad, etc so I can make a decision on what we should use for text-mining.

Thanks for clarifying @cmungall and @mellybelly, I'm happy to take on the role of going through the ABA MBA terms and synonyms and making a judgement call on which are good enough for NER and weakening/removing synonyms as necessary.

[2016-02-15 19:06] cmungall commented on #54
@tgbugs - you should probably use the MBA xrefs, since this is effectively a 'new' version of the original ABA. (yes, it's not good practice to version in this way, but given the differences between them, and the disappearance of many IDs, and the persistence of the original ABA in sources like neurolex, I thought it good to keep them around as a record. Really we should have the allen artefacts v

[2016-02-15 19:13] stripathy opened #56 "switch ontology resource backend to .ttl from .obo"
@renaud mentioned that he would discuss this with Catherine.

Since @renaud's put together a really nice infrastructure for working with .obo files for NER, my vote is that that we keep using it for our backend and use translation files as needed.

[2016-02-15 19:13] tgbugs commented on #54
@cmungall, a broader question, do you recommend using different ObjectProperties to represent different synonym scopes or is it possible to use annotations on the edges themselves (e.g.
`[ rdf:type owl:Axiom ;`
`owl:annotatedSource obo:UBERON_5111983 ;`
`owl:annotatedProperty oboInOwl:hasRelatedSynonym;`
`owl:annotatedTarget "manual digit 8"^^xsd:string ;`
`oboInOwl:hasDbXref <http://orcid.org/000

[2016-02-15 19:13] mellybelly commented on #54
@tgbugs I would not remove synonyms that are not EXACT, but rather type them in SciGraph. @jnguyenx do we have doc on this?

@stripathy you can look very easily in the Uberon ontology file to see the synonym types. This is especially easy to see in the OBO format. See http://purl.obolibrary.org/obo/uberon/ext.owl
Here is an example:

[Term]
id: UBERON:0000941
name: cranial nerve II
def: "Cranial n

[2016-02-15 19:21] cmungall commented on #54
@tgbugs we treat each scope as a distinct annotation property (all as sub annotation properties of a general has-synonym property). On top of this, each assertion can be further annotated with additional information, including an open-ended list of "types" (we use this term as distinct from "scope" here, it's confusing...) such as ABBREVIATION.

It would be great to have a bit better support in Sc

[2016-02-15 20:05] tgbugs commented on #56
Having read a bit more on what @renaud has built using obo as a base I think this is probably the best idea for a couple of reasons.
1) Not all the synonyms that are needed for text mining are appropriate for ontologies, over time when you find good synonyms in the literature they can be migrated.
2) Much of what these ontology files are being used for is building synonym lists and if you are pars

[2016-02-15 22:09] tgbugs commented on #54
@cmungall Thanks. the reason I have been hesitant to go that route is exactly because of the lack of easy scigraph support for synonym granularity (not a very good reason).

With regard to ABA:

I am working on the equivalent of [your obo](https://raw.githubusercontent.com/obophenotype/uberon/master/source-ontologies/allen-mba.obo) over [here](https://github.com/SciCrunch/NIF-Ontology/blob/ttl/ttl

[2016-02-15 23:20] tgbugs commented on #54
@stripathy update to [syn review](https://github.com/renaud/neuroNER/blob/master/ontology_merge/aba_uberon_syn_review.txt) was pushed.

[2016-02-18 02:12] cmungall commented on #54
ABA - when you say original URIs, do you mean original as in the ones Allen assigned, the ones Neurolex assigned, or the ones we assigned in Uberon?

Not totally sure which deprecated classes you mean: you mean the ones that were lost between the two versions of ABA?

Curious as to your neurolex extraction procedure. I always found it v difficult to get things out. https://github.com/cmungall/nlx-

[2016-02-18 02:33] renaud commented on #54
prolog FTW!

[2016-02-22 20:07] tgbugs commented on #54
@cmungall original as in the ones that Allen assigned. For deprecated yes, the ones lost between the two versions, though I haven't checked them thoroughly.

I'm using the built in mediawiki 'ask' query to pull stuff out http://neurolex.org/wiki/Special:Ask by supplying all the [property types](https://github.com/tgbugs/pyontutils/blob/master/nlx_properties). The only problem is that the offset an

[2016-02-25 21:51] tgbugs opened #57 "variants of allen brain regions"
exact
exact + related
exact + related + narrow
exact + related + narrow + broad

[2016-02-29 08:22] tgbugs commented on #57
Did these in e, n, b, r order.

[2016-02-29 08:24] tgbugs commented on #57
@stripathy done, they are in the ontology_merge folder
Did these in e, n, b, r order.

[2016-03-01 19:20] stripathy commented on #57
My sense is that Uberon uses broad as the most broad category, but terms that have the "related" synonym seem to be good synonym for each term. @tgbugs Can I get a version of this file with just exact, narrow, and related, but not broad? See example below.

[2016-03-01 19:30] stripathy commented on #57
Here's what I need to do to evaluate UBERON syns vs ABA syns:
1. rename synonym file as appropropriate file name so sherlok code knows how to find it (maybe also rename identifiers from MBA to ABA for downstream code?)
2. push new syn file to neuroNER github repo
3. clean sherlok resources so new synonym file is downloaded
4. run sherlok to annotate neuron name terms
5. evaluate coverage of sherlo

[2016-03-03 08:43] tgbugs commented on #57
@stripathy [here it is](https://github.com/renaud/neuroNER/blob/master/ontology_merge/aba_uberon_syn_review_enr.txt). I'll fix the order for the obo files tomorrow too.

[2016-03-03 08:51] stripathy commented on #57
Sorry - I was hoping to get the .obo version of this file.

On Thu, Mar 3, 2016 at 12:43 AM Tom Gillespie notifications@github.com
wrote:

[2016-03-03 18:19] stripathy commented on #57
@tgbugs - Can I also get a version of the .obo file for the entire UBERON anatomy ontology with all available synonyms? I'm finding that some terms used in the literature (e.g., basal forebrain) don't have 1-to-1 mappings with Allen MBA structures so aren't in the lists that you've shared, but they do have appropriate entities in UBERON.

In other words, my sense is that uberon is a great neuroana

[2016-03-03 19:02] tgbugs commented on #57
@stripathy yep, I'll put one together.

[2016-03-03 19:30] tgbugs commented on #57
@stripathy [here is the enr syns file](https://github.com/renaud/neuroNER/blob/master/ontology_merge/enr-syns.obo).

[2016-03-03 20:00] tgbugs commented on #57
@stripathy I added 4 versions of uberon that have been stripped of everything except for the id, name, and synonyms. This is all of uberon, if you need just the nervous system I think Chris has a brain slim that I can run it on.

[2016-03-03 21:21] stripathy opened #58 "updates to obo resource files breaks sherlok parsing"
@renaud the commits that you and @tgbugs have made to the .obo resource files have broken the sherlok pipelines so that the simple process of reimporting the most up-to-date resource files from the github repo using the "clean" method no longer works.

Moving forward we'll need to have some way of ensuring that the changes to the .obo files doesn't break the sherlok infrastructure.

[2016-03-03 21:27] tgbugs commented on #58
@stripathy pretty much everything I did was cosmetic (so that it would work in my parser), if the issue happens on the obo files that are generated from robo files then there's not issue deleting them. If the issue happens on the obo files that are not generated from robo files let me know and I can take a look.

[2016-03-03 22:02] stripathy opened #59 "export uberon structure name as exact synonym .obo file"
@tgbugs I noticed the following:

MBA:669             Visual areas
------ABA  SYNS------
VIS
Visual areas
visual areas
visual cortex
-----UBERON SYNS-----
--Related--
higher-order visual cortex
visual areas

but in the .obo files you prepared for me:

id: ABA_REGION:669
name: Visual areas
synonym: "higher-order visual cortex" RELATED []
synonym: "visual areas" RELATED []

In other words, we need t

[2016-03-03 22:06] tgbugs commented on #59
Ah yep, I'll add it.

[2016-03-03 22:24] tgbugs commented on #59
@stripathy done via 4f07c5c3cc4e3bdbef1d6854f98da31bcde2ec27, note that sometimes this results in duplicate synonyms but that should be ok.

[2016-03-04 00:31] stripathy commented on #57
Using the 1K neuroelectro neuron types as a test set, I ran the neuroNER parsing using the original regions file with the ABA terms and synonyms and with the terms and synonyms from UBERON with all synonyms except broad. Results here: https://github.com/renaud/neuroNER/blob/master/ontology_merge/aba_uberon_comparison.csv

My sense is that Uberon is pretty great relative to what we were using earli

[2016-03-04 01:42] tgbugs commented on #59
Do this with the the brain slim.

[2016-03-08 08:27] renaud commented on #57
All this sounds good news to me. @stripathy do you have some stats on the above csv results (to compare it with the former ABA OBO file)?

[2016-03-08 18:29] stripathy commented on #57
@renaud - no, I never computed any stats on this file https://github.com/renaud/neuroNER/blob/master/ontology_merge/aba_uberon_comparison.csv.

By eye, I could tell that in most cases what we had for ABA was identical for UBERON. UBERON was better in a few cases (had more synonyms). In a few cases where you and I had manually added synonyms to the ABA file, then UBERON didn't have those synonyms.

[2016-03-08 18:47] tgbugs commented on #57
@stripathy working on the brain subset now, it will be up shortly.

[2016-03-08 19:08] tgbugs commented on #59
@stripathy files are here https://github.com/renaud/neuroNER/blob/master/ontology_merge/ns_stripped_e.obo according to the usual naming pattern.

[2016-03-08 19:08] #59 closed

[2016-03-09 19:01] stripathy opened #60 "get DB crossrefs for UBERON term"
@tgbugs is there a convenient service to get the appropriate DB crossrefs for an Uberon term?

For example, given this term:

id: UBERON:0002711
name: nucleus of posterior commissure
synonym: "Darkshevich nucleus" NARROW []
synonym: "Darkshevich's nucleus" NARROW []
synonym: "nucleus commissura posterior" RELATED LATIN [NeuroNames:511]
synonym: "nucleus commissuralis posterioris" RELATED LATIN [Ne

[2016-03-09 19:18] tgbugs commented on #60
http://matrix.neuinfo.org:9000/scigraph/graph/UBERON:0002711
check if the json that comes back has `xrefs = j['nodes'][0]['http://www.geneontology.org/formats/oboInOwl#hasDbXref']` which should be a list and if you check `any([r for r in xrefs if r.startswith('MBA:')])` you will know it has an xref to mba.

Let me know if this works, otherwise I can put the xrefs back in (I stripped them out).

[2016-03-10 07:07] stripathy commented on #57
@renaud is there a downside to having duplicated synonyms across different terms in the .obo files?

In the uberon brain slim file that @tgbugs provided, here's two different terms with identical synonyms:

and

The first term has a db xref to the Allen adult mouse atlas (MBA) but the second doesn't. I'd prefer to keep both terms in the resource file (Rather than manually go through and remove ter

[2016-03-10 18:19] stripathy commented on #60
Thanks @tgbugs! works great!

[2016-03-10 21:54] #60 closed

[2016-03-10 22:24] renaud commented on #58
[code]

[2016-03-11 00:58] stripathy commented on #53
This pull request does most of what's needed for this: https://github.com/renaud/neuroNER/pull/61

I think all that's left is to update more of the metadata in setup.py to make pip happy.

[2016-07-09 18:23] dosumis opened #62 "Plan for ontologizing neuroNER"
To post on neuroNER GitHub:
 - [ ] TABLE1: Full table of neuroNER terms as TSV @stripathy
 - [ ] TABLE2: Stripped down table neuroNER as TSV - uniq'd for phenotype long name & with columns for logical decomposition only.  @stripathy

Use these tables to programatically generate new CL terms:

 * PHASE 1 For each entry in the TABLE2, generate a CL term.  @dosumis
    * The short form of this term s

[2016-07-09 18:29] dosumis commented on #62
Example of mapping:

![image](https://cloud.githubusercontent.com/assets/112839/16709639/a63fecf2-45e4-11e6-9725-e0d5b21964e2.png)

label "ventral hippocampus CA1 pyramidal cell"
def: "A neuron with pyramidal morphology with cell body in ventral part of hippocampus region CA1." [Cembrowski et al., Neuron 2016]

**How far we can get given existing terms?**

SubClassOf: [pyramidal neuron](pyramidal

[2016-07-09 18:47] dosumis commented on #62
Example 2:

![image](https://cloud.githubusercontent.com/assets/112839/16709666/ee2b6b54-45e4-11e6-8925-c8dd32ad2104.png)

neostriatum cholinergic cell
subClassOf: neuron
subClassOf: '[capable of](http://purl.obolibrary.org/obo/RO_0002215)' some '[acetylcholine secretion, neurotransmission](http://purl.obolibrary.org/obo/GO_0014055)'
subClassOf: 'has some location' some [striatum](http://purl.obol

[2016-07-09 18:54] mellybelly commented on #62
RE 'ventral hippocampus CA1 pyramidal cell' I think you'd want to use BSPO for the 'ventral', I think the Uberon terms are actually referring to the other axis (though they are currently undefined TODO) but will look further. @cmungall

[2016-07-09 18:57] dosumis commented on #62
Agreed, but only if this doesn't map to existing caudal/rostral subdivisions (may be possible if confusion between neuraxis and body axis.  Note - if we do use BSPO we need a nested class expression in CL.

[2016-07-09 19:42] stripathy opened #63 "Add cells from regenbase ontology"
cells are here: http://bioportal.bioontology.org/ontologies/RB/?p=classes&conceptid=http%3A%2F%2Fregenbase.org%2Fontology%23RB_0000301

[2016-07-10 18:47] stripathy commented on #62
@dosumis , I just put together TABLE1 and TABLE2 as requested above in this commit: https://github.com/renaud/neuroNER/commit/13f61e040eafbe19d9a789f221fb73dd4b27e46c

Can we sit down during ISMB so I can walk you through the data in the tables and check and see if this is what you need for you to import these into owl and Protege on your end?

[2016-07-10 19:15] dosumis commented on #62
Sure.  Just had a quick look.  Think we need to discuss contents of tables.  May need some tweaking. I'll email about meeting up.

[2016-07-11 18:06] stripathy commented on #62
Updated plan for cell types to add to Cell Ontology
1. Pick a limited set of terms from neuroelectro to add to Cell Ontology (how about just the terms that are also have NeuroLex identifiers? also include CL identifiers if they're also mapped? http://www.ebi.ac.uk/ols/docs/api)
2. update spreadsheet of neuroelectro/neurolex terms to be in "wide" format (columns for brain region, morphology, etc).

[2016-07-11 20:03] tgbugs commented on #62
@stripathy I have a curator doing a phenotype decomposition of all the neurolex cells which can be seen here: https://github.com/tgbugs/nlxeol/blob/phenotypes/neuron_data_curated.csv

[2016-07-12 03:48] cmungall commented on #62
The first thing I would do is remove all FBbts from this file. The complete
axiomatization is already there in FBbt.owl (neurolex contained a stale,
broken copy of a version of FBbt minus the complete axiomatization)

On Mon, Jul 11, 2016 at 4:03 PM, Tom Gillespie notifications@github.com
wrote:

[2016-07-12 06:43] tgbugs commented on #62
@cmungall yes, the FBbt is being purged and those entries are being skipped. I will include the FBbt.owl in nif directly in the future.

[2019-02-20 21:23] tompollard commented on #53
Hi @stripathy, this is a quick note to ask whether this project is still active on PyPI (https://pypi.org/project/neuroner/)?

It looks like it hasn't been updated in a while and we have a package with the same name that we plan to release!

No problem if so (just means coming up with new name and small refactor). Thought I'd ask on the off chance it was no longer needed :)

[2019-02-22 03:19] stripathy commented on #53
Hi @tompollard - no, neuroner is not under active development but the package is currently being used in a few projects. So my preference would be to keep it as is (is there a downside to this?) and to kindly ask you to rename your package if possible.

[2019-02-22 15:17] tompollard commented on #53
Thanks for the response, and sure we'll go with a new name. Out of interest, how would someone use the pip version of this package? Tried playing around but it doesn't seem to be importable.

[2020-06-07 14:02] sepehrgolriz opened #64 "SEVERE: Can't find bluima/neuroner"
Dear @renaud @stripathy

When I try to run your tool I get this error, "SEVERE: Can't find bluima/neuroner", even after I set the classpath.

I tried to run the tool in two methods, one method is the same as the readme "debug as ..." which shows me sources are not found, and the other method is "run as ..." which gives me the "SEVERE: Can't find bluima/neuroner"

Would you please help me in this r